/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_0cf4379161e9924693ce78799d2aae36.eot");
  src: url("./fontcustom_0cf4379161e9924693ce78799d2aae36.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_0cf4379161e9924693ce78799d2aae36.woff") format("woff"),
       url("./fontcustom_0cf4379161e9924693ce78799d2aae36.ttf") format("truetype"),
       url("./fontcustom_0cf4379161e9924693ce78799d2aae36.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_0cf4379161e9924693ce78799d2aae36.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-message:before,
.icon-open:before,
.icon-phone:before,
.icon-remove:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-message:before { content: "\f100"; }
.icon-open:before { content: "\f102"; }
.icon-phone:before { content: "\f101"; }
.icon-remove:before { content: "\f103"; }
